html, body {
  margin: auto;
  padding: 0;
  overflow-y: auto; /* on remet le scroll normal */
  scroll-behavior: smooth; /* active le smooth scroll */
  font-family: "Inter", "Caveat", "Segoe UI", sans-serif;

  --fixed-Width: 1251px;
  --fixed-Height: 573px;
}

@font-face {
  font-family: "Chaumon-Script";
  src: url("chaumont_script/ChaumontScript-Regular.woff2") format("woff2"),
       url("chaumont_script/ChaumontScript-Regular.woff") format("woff");
}

*{
  box-sizing: border-box;
}

h1{

  font-family: "Chaumon-Script";
}

body{

  width: var(--fixed-Width);

}

section{

  width: var(--fixed-Width);
  height: var(--fixed-Height);
  overflow: hidden;
}

#canvas1, #canvas2{

  position: relative;
  width: var(--fixed-Width);
  height: var(--fixed-Height);

}

button {

  background: transparent;
  color: white;
  font-family: 'Inter';
  font-size: 0.7em;

}

#canvas1 > button, #canvas2 button{

  font-size: 0.5em;
}

/* --- L'overlay principal --- */
#overlay, #trans-zone1, #trans-zone2 {
  width: var(--fixed-Width);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  z-index: 1;
  box-sizing: border-box;
  position: relative;
}

#overlay{

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  background-image: url(Assets/Radis.png), url(Assets/Orange.png), url(Assets/Carotte.png);
  background-size: 200px, 200px, 200px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 40% 110%, 90% 50%, 60% 12%;

  h1{

    color: #528B4C;
    font-weight: bolder;
    text-transform: uppercase;
  }

  &::before{

    content: '';
    position: absolute;
    margin: auto;
    width: 80%;
    height: 90%;
    background-color: rgb(224, 224, 224);
    top: -45%;
    border-radius: 50%;
    z-index: -1;
  }
}

.action-appeal{

  position: absolute;
  bottom: 60px;
  right: 25%;
  font-size: 24px;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bolder;
  transform: translateX(50%) translateY(0);
  animation: come-baby-come 2s ease-in-out infinite;
  cursor: pointer;


  &::after{
    content: '>';
    font-size: 3em;
    writing-mode: sideways-lr;
    font-family: "Chaumon-script";
    writing-mode: vertical-lr;
    position: absolute;
    bottom: -35px;
    right: 50%;
    transform: translateX(50%);
  }
}

@keyframes come-baby-come {

  0%, 100%{
    transform: translateX(50%) translateY(0);
  }

  50%{
    transform: translateX(50%) translateY(15px);
  }
}


 section#trans-zone1, section#trans-zone2{


  h1{

    width: fit-content;
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 2%;
    }

}

section#trans-zone1{


  background: url("BackGrounds/nape-purple-bg.jpg");
  background-size: 50%;
  background-repeat: repeat;

  h1{

    text-align: left;
    left: 20px;
  }
}

section#trans-zone2{

  background: url("BackGrounds/nape-verte-bg.jpg");
  background-size: 50%;
  background-repeat: repeat;

}

/* Boutons repositionnés classiquement */
#btnStats, #btnContexte, #btnVegeLud {
  position: fixed;
  top: 20px;
  right: calc(50% - (var(--fixed-Width)/2) + 20px);
  margin-left: 10px;
  height: 65px;
  z-index: 1000;
  /* background-color: #333; */
  color: black;
  border: 2px dashed #BA0085;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 0.9em;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  width: 150px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);

  &::before{
    content: '';
    position: absolute;
    bottom: -25px;
    left: -25px;
    border-radius: 50%;
    transition: .5s;
    width: 50px;
    aspect-ratio: 1/1;
    background-color: #BA0085;
    z-index: -1;
  }

  box-sizing: border-box;
}

#btnStats {
  display: block; /* toujours visible */
  top : 95px
}

#btnVegeLud{

  display: block; /* toujours visible */
  top : 170px
}


#btnStats:hover, #btnContexte:hover, #btnVegeLud:hover{

  &::before{
    width: 330px;
    bottom: -165px;
    left: -165px;
  }
}


/* --- Contenu de texte principal --- */
.info {
  max-width: 600px;
  margin-left: 20%;
  margin-top: 0;

}

.info h1 {
  font-size: 5em;
  margin-bottom: 0.2em;
  margin-top: 7%;
}

.info p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.question {
  font-style: italic;
  color: #555;
  margin-bottom: 1em;
}

.for-vege-1{

  position: absolute;
  left: 30px;
  top: 40%;
}

.for-durable-1{

  position: absolute;
  left: 30px;
  top: 40%;
}

.for-vege-2{

  position: absolute;
  right: 30px;
  top: 40%;
}

.for-durable-2{

  position: absolute;
  right: 30px;
  top: 40%;
}

.for-durable-3{

  position: absolute;
  left: 30%;
  bottom: 50px;
}

.for-vege-3{

  position: absolute;
  left: 30%;
  bottom: 20px;
}

img{

  &.little-boy{

    position: fixed;
    bottom: 0;
    right: calc(50% - (var(--fixed-Width)/2));
    z-index: 10000;
    width: 200px;
  }

  &.fixed-poireau{

    position: absolute;
    height: 90%;
    left: 205px;
    bottom: -10px;
    transform: rotate(-5deg);
  }

  &.vege-badge-or-not{

    position: absolute;
    width: 100px;
    top: -30px;
    left: -10px;

  }

}



/* ====== STYLES CARTON MENU ====== */
/* ====== CARTON MENU EN HAUT À GAUCHE ====== */
.menu-container {
    position: absolute;
    bottom: -17px;
    left: -10px;

    width: 320px;

    padding: 25px 28px 30px;
    /* background: #F3E5B8; */

    border-radius: 30px 30px 0 0;
    background-image: url('BackGrounds/fond_menu_grand.png');
    background-size: 100%;
    background-position-x: 0 50px;

    /* Texture papier */
    /* background-image: url("https://i.imgur.com/2zZ5x7R.png");
    background-size: cover;
    background-blend-mode: multiply; */

    /* Ombres raffinées */
    /* box-shadow:
        0 6px 15px rgba(60, 40, 20, 0.25),
        0 0 25px rgba(0, 0, 0, 0.12) inset; */

    /* border: 1px solid rgba(160, 140, 110, 0.4); */
    border: 1px solid black;

    transform: rotate(6deg);
    font-size: 80%;

    z-index: 0;


    &::after{
      position: absolute;
      content: 'végé !';
      top: 5px;
      color: white;
      padding: 3px;
      background-color: #0C5C03;
      font-weight: bolder;
      border-radius: 3px;
      /* left: 50%;
      transform: translateX(-50%); */
      right: 20px;

    }


    &.nonvege::after{
      content: 'non végé';
      background: black;

    }
}

/* ===== TITRE ===== */
.menu-title {
    text-align: center;
    /* font-family: "Caveat", "Playfair Display", serif; */
    font-size: 1.8em;
    margin-bottom: 8px;
    /* color: #614737; */
    color: black;
    letter-spacing: 1.5px;

    /* text-transform: uppercase; */

    i{

        font-size: 0.7em;
        color: #8a7866;
    }
}

/* Filet décoratif */
.menu-separator {
    width: 320px;
    /* margin: 10px auto 18px; */
    height: 1px;
    /* background: linear-gradient(to right, #b8a374, #d8c58a, #b8a374); */
    background: black;

    border-radius: 2px;
    transform: translateX(-28px);
    margin-bottom: 35px;
    margin-top: 20px;
}

/* ===== ITEMS ===== */
.menu-item {
    margin: 2px 0;
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    border-bottom: 1px dashed rgba(120, 100, 80, 0.3);

    &:last-of-type{

      border-bottom: none;
    }
}

.menu-item-name {
    font-weight: bold;
    /* color: #5d4b3a; */
    color: black;
    margin-right: 20px;
    /* font-family: "Inter"; */
    font-size: 80%;

}

#menu-date-area{

    color: #000;

}

.menu-item-value {
    color: #4b3a2a;
    text-align: right;
    /* font-family: "Caveat"; */
}

.menu-footer {
    margin-top: 28px;
    text-align: center;
    font-style: italic;
    /* color: #8a7866; */
    color: #000;
    margin-bottom: 50px;
    font-size: 0.9em;
    /* font-family: "Caveat"; */

}

/* ====== FIN STYLES CARTON MENU ====== */

/* ====== STYLES SANDWICH ====== */

.sandwich-table{

  position: absolute;
  left: calc(25% + 15px);
  top: 42px;

  & > svg:first-child{
    transform: translateY(8px);
  }
}

.garniture{

  width: 100%;
  height: 100px;
  position: relative;
}


/* STYLES FRUITS LEGUMES DU SOL ET DU CIEL */

section.ground{

  height: 110px;
  overflow: visible !important;
  position: relative;
  z-index: 1000;


  img{

    width: 100%;
    top: -34px;
    position: absolute;
  }
}

.vege-from-ground{

  position: absolute;
  z-index: 100;
  transform-origin: bottom center;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.carrot img{
    width: 300px;
    transform: translateY(310px);
  }

  &.radis img{
    width: 310px;
    transform: translateY(295px);
  }

  &.pumpkin img{
    width: 450px;
    transform: translateY(313px);
  }

  &.courj img{

    width: 600px;
    transform: translateX(500px);
  }


  /* Vege Zone */

  &.onion img{

    width: 370px;
    transform: translateY(317px);
  }

  &.poireau img{

    width: 660px;
    transform: translateX(-100px) translateY(260px);
  }

  &.vege-from-ground.poivron img{

    width: 320px;
    transform-origin: top center !important ;
    transform: translateY(-420px);
  }

}

.carrot{

  transform: rotate(-2deg);
  bottom: 0px;
  left: 20px;

  &.out-of-ground{
      animation: swinging-carrot 5s ease-in-out infinite;

  }
}

.radis{

  transform: rotate(2deg);
  bottom: 0px;
  left: 360px;

  &.out-of-ground{
      animation: swinging-radis 6s ease-in-out infinite;

  }
}

.pumpkin{

  transform: rotate(-1.5deg);
  bottom: 0px;
  right: 90px;

  &.out-of-ground{
      animation: swinging-pumpkin 8s ease-in-out infinite;

  }

}

.courj{

  transform: rotate(.5deg);
  right: -50px;
  top: -60px;
  transform-origin: top right !important ;


  &.out-of-ground{

    animation: swinging-courj 4s ease-in-out infinite;

  }
}


/* Vege Zone */

.onion{

  transform: rotate(3deg);
  left: 130px;
  bottom: 0;
  width: 300px;

  &.out-of-ground{

    animation: swinging-onion 3.5s ease-in-out infinite;;
  }
}

.poireau{

  transform: rotate(-40deg);
  right: 100px;
  bottom: 0;
  transform-origin: bottom left;

  &.out-of-ground{

    animation: swinging-poireau 4s ease-in-out infinite;;

  }
}

.poivron{

  transform: rotate(4deg);
  left: 25%;
  top: 0px;
  transform-origin: top center !important ;


  &.out-of-ground{

    animation: swinging-poivron 2.1s ease-in-out infinite;;

  }
}


.vege-from-ground img{

  transition : transform 2s ease-out;

}

.vege-from-ground.out-of-ground{

    animation-delay: 1.9s;

  &.carrot img{

    transform: translateY(120px);
  }

  &.radis img{

    transform: translateY(130px);
  }

  &.pumpkin img{

    transform: translateY(160px);
  }

  &.courj img{

    transform: translateX(0px);
  }


  /* Vege Zone */

  &.onion img{

    transform: translateY(130px);
  }

  &.poivron img{

    transform: translateY(-120px);
  }

  &.poireau img{

    transform: translateX(80px) translateY(200px);
  }

}



@keyframes swinging-carrot {

  0%, 100%{
    transform: rotate(-2deg);
  }

  50%{
    transform: rotate(2deg);
  }
}

@keyframes swinging-radis {

  0%, 100%{
    transform: rotate(2deg);
  }

  50%{
    transform: rotate(-2deg);
  }
}

@keyframes swinging-pumpkin {

  0%, 100%{
    transform: rotate(-1.5deg);
  }

  50%{
    transform: rotate(1.5deg);
  }
}

@keyframes swinging-courj {

   0%, 100%{
    transform: rotate(.5deg);
  }

  50%{
    transform: rotate(-0.5deg);
  }
}

@keyframes swinging-onion {

   0%, 100%{
    transform: rotate(3deg);
  }

  50%{
    transform: rotate(-3deg);
  }
}


@keyframes swinging-poivron {

   0%, 100%{
    transform: rotate(4deg);
  }

  50%{
    transform: rotate(-4deg);
  }
}


@keyframes swinging-poireau {

   0%, 100%{
    transform: rotate(-40deg);
  }

  50%{
    transform: rotate(-43deg);
  }
}